### Python ###
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/cyberlab.db
backend/.env

### Node ###
frontend/node_modules/
frontend/dist/
frontend/.env

### OS ###
.DS_Store
Thumbs.db
*.log
